@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Bubblegum+Sans|Caveat+Brush|Chewy|Lobster+Two');

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

/* ===== NAVIGATION ======*/

.navbar {
    border: 0;
    z-index: 9999;
    letter-spacing: 3px;

}
.navbar .nav > li > a {
  line-height: 30px;
  text-decoration: none;
}

.navbar-header h1 {
    letter-spacing: 0.5px;
    color: black !important;
    font-family: 'Georgia';
    font-size:18px; 
    padding-top:0.5%;
    padding-bottom:2%;
    padding-left:5px;
}

.navbar li a, .navbar {
    color: black !important;
    font-size: 18px;
    letter-spacing: 0.5px;
    transition: all 0.6s 0s;
    text-decoration: none;
    font-family: 'Georgia';
}

.navbar-toggle {
    background-color: transparent !important;
    text-align:center;
    border: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: red !important;
    text-decoration: none;
}
@media (max-width:700px)
{
   .navbar-header h1 {
       padding-top:0.5px;
       padding-left:15px;
       padding-bottom:15px;
    }
}
/*end of nav-bar*/

/*form*/

.form-bg{
  margin-top:130px;
  margin-bottom:75px;
}
.form-container{
    font-family: 'Roboto', sans-serif;
    padding: 50px 30px 30px 20px;
    position: relative;
}
.form-container .form-horizontal{
    background: linear-gradient(#e7e7e7 25px,rgba(255,255,255,0.97) 25px);
    padding: 40px 20px 20px;
    box-shadow: 0 0 20px -5px rgba(0,0,0,0.3);
    border-radius: 15px;
}
.form-container .title{
    color: #222;
    font-size: 27px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin: 0 0 20px;
}
.form-container .title:after{
    content: '';
    background-color: #E6145E;
    height: 3px;
    width: 110px;
    margin: 10px 0 0;
    display: block;
    clear: both;
}
.form-horizontal .form-group{
    background-color: rgba(255,255,255,0.15);
    margin: 0 0 15px;
    border-bottom: 2px solid #e7e7e7;
}
.form-horizontal .input-icon{
    color: #b5b5b5;
    padding-top:8px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 30px;
    margin: 0 0 0 4px;
    vertical-align: top;
    display: inline-block;
}
.form-horizontal .form-control{
    color: #222;
    background-color: transparent;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    width: calc(100% - 40px);
    height: 33px;
    padding: 3px 10px 0 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
    display: inline-block;
    transition: all 0.3s;
}
.form-horizontal textarea.form-control{
    height: auto;
    width: 100%;
}
.form-horizontal .form-control:focus{
    box-shadow: none;
    border: none;
}
.form-horizontal .form-control::placeholder{
    color: #b5b5b5;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}
.form-horizontal .btn{
    color: #d1d1d1;
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 15px 7px 20px;
    margin: 0 auto;
    border: 2px solid #e7e7e7;
    border-radius: 20px;
    display: block;
    transition: all 0.3s ease 0s;
}
.form-horizontal .btn:hover,
.form-horizontal .btn:focus{
    color: #E6145E;
    background-color: #fff;
    border: 2px solid #E6145E;
}
.form-horizontal .btn i{ transition: all 0.3s ease 0s; }
.form-horizontal .btn:hover i{
    color: #E6145E;
    transform: translateX(3px);
}
@media (max-width:991px)
{
  .form-bg{
   margin-top:180px;
   margin-bottom:75px;
  }
}
@media (max-width:767px)
{
   .form-bg{
   margin-top:110px;
   margin-bottom:80px;
  }
}
/*end of form*/

/*footer*/
.site-footer
{
  background-color:#F4F6F7;
  padding:50px 0 60px;
  font-size:15px;
  line-height:20px;
  color:#737373;
  margin-bottom:0;
}
.foot{
  font-family: 'Optima', sans-serif, serif;
  text-align: center;
  color: #273746;
}
.foot span{
  font-size:20px;
}
.foot span a{
  color:#273746;
  text-decoration: none;
}
.foot span a:hover{
  color:#D34500;
}
.foot p{
  font-size:20px;
}
.foot p a{
  color:#273746;
  text-decoration: none;
}
.foot p a:hover{
  color:#D34500;
}
.site-footer .social-icons
{
  padding-top:15px;
  text-align:center;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.site-footer .social-icons li:hover
{
  color:#D34500;  /*chech*/
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:0px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
    margin-bottom:0;
  }
  .site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:6px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  padding-top:10px;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook
{
  background-color:#3b5998
}
.social-icons a.twitter
{
  background-color:#00aced
}
.social-icons a.instagram
{
  background-color:rgba(225,48,108)
}
.social-icons a.yt
{
  background-color:#c4302b
}
.social-icons a.facebook:hover,a.twitter:hover,a.instagram:hover,a.yt:hover
{
  background-color:#D34500
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/*end of footer*/